.email-sender-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

.form-header {
  font-size: 48px;
  margin-top: 50px;
}

.field-container {
  display: block;
  width: 480px;
  margin-bottom: 10px;
}

.field-container:last-child {
  margin-bottom: 0;
}
